In [6]:
import pandas as pd
import os

In [7]:
pwd = os.getcwd()

### Series

In [8]:
series_test = list(range(1, 100))
pd.Series(series_test)

0      1
1      2
2      3
3      4
4      5
      ..
94    95
95    96
96    97
97    98
98    99
Length: 99, dtype: int64

### Checking if raw file exists

In [9]:
filename = r"C:\Users\ZION\Downloads\simple_csv.csv"
os.path.exists(filename)

True

### Importing csv file

In [10]:
df = pd.read_csv(filename, nrows=10)
df

# first import

    Column1   Column2   Column3
0  0.280925  0.910368  0.692982
1  0.719882  0.210024  0.761276
2  0.235752  0.059796  0.154667
3  0.603366  0.485614  0.013345
4  0.039985  0.236359  0.811832
5  0.015478  0.543641  0.112719
6  0.192540  0.409874  0.875082
7  0.380921  0.045468  0.515859
8  0.592471  0.786421  0.047249
9  0.072112  0.695694  0.409573

In [11]:
df["Column1"]

0    0.280925
1    0.719882
2    0.235752
3    0.603366
4    0.039985
5    0.015478
6    0.192540
7    0.380921
8    0.592471
9    0.072112
Name: Column1, dtype: float64

In [12]:
df["New_Column 1"] = 1      # create new column
df["New_Column 2"] = list(range(10))       # column creation with list 
df["Added Output"] = df["New_Column 1"] + df["New_Column 2"]      # adding two columns together
df

    Column1   Column2   Column3  New_Column 1  New_Column 2  Added Output
0  0.280925  0.910368  0.692982             1             0             1
1  0.719882  0.210024  0.761276             1             1             2
2  0.235752  0.059796  0.154667             1             2             3
3  0.603366  0.485614  0.013345             1             3             4
4  0.039985  0.236359  0.811832             1             4             5
5  0.015478  0.543641  0.112719             1             5             6
6  0.192540  0.409874  0.875082             1             6             7
7  0.380921  0.045468  0.515859             1             7             8
8  0.592471  0.786421  0.047249             1             8             9
9  0.072112  0.695694  0.409573             1             9            10

### Drop column

In [13]:
df = df.drop(columns="New_Column")
   # OR
df.drop(columns="New_Column", inplace=True)

KeyError: "['New_Column'] not found in axis"

### Pulling sections of data

In [ ]:
df.loc[:4, ["Column1",	"Column2",	"Column3",	"New_Column 1", "New_Column 2",	"Added Output"]]

 # loc will include the last instance you specify

    Column1   Column2   Column3  New_Column 1  New_Column 2  Added Output
0  0.280925  0.910368  0.692982             1             0             1
1  0.719882  0.210024  0.761276             1             1             2
2  0.235752  0.059796  0.154667             1             2             3
3  0.603366  0.485614  0.013345             1             3             4
4  0.039985  0.236359  0.811832             1             4             5

In [ ]:
df.iloc[:6, [0, 2]]

    Column1   Column3
0  0.280925  0.692982
1  0.719882  0.761276
2  0.235752  0.154667
3  0.603366  0.013345
4  0.039985  0.811832
5  0.015478  0.112719

In [15]:
netflix = r"C:\Users\ZION\Downloads\netflix_titles.csv"
os.path.exists(netflix)

True

In [16]:
nf = pd.read_csv(netflix)
nf

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [ ]:
list(nf.columns)       # show all columns

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

### Summary Statistics

In [ ]:
nf.describe()

NameError: name 'nf' is not defined

### See Unique Values in a Column

In [ ]:
nf["type"].unique()

array(['TV Show', 'Movie'], dtype=object)

### Filtering Dataframes

In [ ]:
 nf[nf["country"] == "West Germany"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2757,s2758,Movie,Hitler - A Career,"Joachim Fest, Christian Herrendoerfer",NaN,West Germany,"February 10, 2017",1977,TV-MA,150 min,"Documentaries, International Movies",This documentary examines how Adolf Hitler's t...

In [ ]:
nf[(nf["country"] == "Singapore") & (nf["rating"] == "TV-MA")]

# multiple filters
# for "or" replace '&' with '|'

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2093,s2094,Movie,Fakkah Fuzz: Almost Banned,Michael McKay,Fakkah Fuzz,Singapore,"January 26, 2018",2018,TV-MA,61 min,Stand-Up Comedy,Stand-up comic Fakkah Fuzz mines cross-cultura...
2956,s2957,Movie,Imperfect,Steve Cheng,"Edwin Goh, Ian Fang Weijie, Phua Yida, Kimberl...",Singapore,"December 20, 2018",2012,TV-MA,95 min,"Action & Adventure, International Movies","After a brawl lands him in a Boys’ Home, a tee..."
3528,s3529,Movie,Lang Tong,Sam Loh,"William Lawandi, Angeline Yap, Vivienne Tseng,...",Singapore,"December 20, 2018",2015,TV-MA,82 min,"International Movies, Thrillers","After seducing a philandering con man, a rebel..."
4138,s4139,Movie,Miss J Contemplates Her Choice,Jason Lai,"Kit Chan, Xiang Yun, Bobby Tonelli, Shane Pow,...",Singapore,"December 20, 2018",2014,TV-MA,89 min,"Dramas, International Movies, Thrillers",The life of a radio talk-show host is turned u...
6949,s6950,TV Show,The Truth Seekers,NaN,"Chen Hanwei, Rebecca Lim, Desmond Tan, Yusuke ...",Singapore,"July 1, 2017",2016,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Dramas",A veteran cop forms an agency dedicated to sol...

In [ ]:
from datetime import datetime as dt

### Date Part (Splitting Dates)

In [22]:
nf[["Date Part 1", "Date Part 2"]]  = nf["date_added"].str.split(", ", expand=True)
nf

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Date Part 1,Date Part 2
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020

### renaming columns

In [25]:
nf.rename(columns={"Date Part 2": "Year"}, inplace=True)
nf.rename(columns={"Date Part 1": "Month&Day"}, inplace=True)
nf

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month&Day,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020

### Replacing Null Values

In [27]:
nf["cast"].fillna(value="no cast", inplace=True)
nf

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month&Day,Year
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020

### Lambda Functions

In [29]:
the_adder = lambda x: x + 2393
the_adder(5728)

8121

In [41]:
nf["genre_count"] = nf["listed_in"].map(lambda x: len(x.split(",")))      
nf
    
    # creates new column showing the count of genres in the 'listed_in' columnn

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month&Day,Year,genre_count
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020,3
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016,2
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018,2
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017,3
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...,October 19,2020,2
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...,March 2,2019,3
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast...",September 25,2020,3
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...,October 31,2020,2
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,no cast,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...,March 1,2020,2

### Group By and Sort

In [46]:
nf_movies_by_country = nf.groupby("country")["show_id"].count().reset_index()
nf_movies_by_country.sort_values(by="show_id", ascending=False)

                               country  show_id
549                      United States     2555
229                              India      923
462                     United Kingdom      397
291                              Japan      226
394                        South Korea      183
..                                 ...      ...
252  Indonesia, South Korea, Singapore        1
253          Indonesia, United Kingdom        1
254           Indonesia, United States        1
255                       Iran, France        1
680                           Zimbabwe        1

[681 rows x 2 columns]

In [47]:
netflix2 = r"C:\Users\ZION\Downloads\netflix_titles_second.csv"
os.path.exists(netflix2)

True

In [48]:
nf2 = pd.read_csv(netflix2)
nf2

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,23-Dec-16,2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,20-Dec-18,2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,16-Nov-17,2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,1-Jan-20,2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
349,s350,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...
350,s351,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...
351,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...
352,s353,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while..."
353,s354,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ..."

### Union 2 Tables

In [49]:
new_dataset = pd.concat([nf, nf2])
new_dataset

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,Month&Day,Year,genre_count
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,August 14,2020,3.0
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,December 23,2016,2.0
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",December 20,2018,2.0
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi...",November 16,2017,3.0
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...,January 1,2020,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,s350,TV Show,Ainori Love Wagon: Asian Journey,NaN,"Becky, Audrey, Mayuko Kawakita, Shimon Okura",Japan,28-Mar-19,2018,TV-MA,2 Seasons,"International TV Shows, Reality TV, Romantic T...",Seven men and women board a pink bus in search...,NaN,NaN,NaN
350,s351,TV Show,Ainsley Eats the Streets,NaN,Ainsley Harriott,United Kingdom,12-Jul-19,2014,TV-PG,1 Season,"British TV Shows, Docuseries, International TV...",Celebrity chef Ainsley Harriott embarks on a j...,NaN,NaN,NaN
351,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...,NaN,NaN,NaN
352,s353,Movie,Airplane Mode,César Rodrigues,"Larissa Manoela, André Luiz Frambach, Erasmo C...",United States,23-Jan-20,2020,TV-PG,97 min,"Comedies, International Movies, Romantic Movies","When Ana, an influencer, crashes her car while...",NaN,NaN,NaN
353,s354,Movie,Aisa Yeh Jahaan,Biswajeet Bora,"Palash Sen, Ira Dubey, Yashpal Sharma, Tinnu A...",India,15-Oct-17,2015,TV-14,127 min,"Dramas, Independent Movies, International Movies","During a vacation with her parents, away from ...",NaN,NaN,NaN

### Joining Tables

In [50]:
nf_merge = pd.merge(left=nf2, right=nf_movies_by_country, how="inner", left_on=["country"], right_on=["country"])
nf_merge

,show_id_x,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,show_id_y
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,14-Aug-20,2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,72
1,s209,Movie,A new Capitalism,NaN,NaN,Brazil,12-Jun-18,2017,TV-14,76 min,"Documentaries, International Movies",Entrepreneurs worldwide explore alternatives t...,72
2,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,11-Nov-20,2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,72
3,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,3-Sep-20,2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,72
4,s323,TV Show,Afronta! Facing It!,Juliana Vicente,"Loo Nascimento, Ingrid Silva, Rincon Sapiência...",Brazil,31-Oct-20,2017,TV-PG,1 Season,"Docuseries, International TV Shows",This docuseries spotlights Afro-Brazilian thin...,72
...,...,...,...,...,...,...,...,...,...,...,...,...,...
338,s319,Movie,Aerials,S.A. Zaidi,"Saga Alyasery, Ana Druzhynina, Mansour Al Fele...",United Arab Emirates,7-May-20,2016,TV-14,90 min,"International Movies, Sci-Fi & Fantasy",Dubai residents struggle to figure out why a f...,12
339,s333,Movie,Aftershock,Nicolás López,"Eli Roth, Andrea Osvárt, Ariel Levy, Natasha Y...","United States, Chile",7-Mar-18,2012,R,89 min,"Action & Adventure, Horror Movies",An American tourist and his friends are partyi...,2
340,s339,TV Show,Age of Tanks,NaN,NaN,"Germany, France, Russia",10-Nov-18,2017,TV-PG,1 Season,"Docuseries, International TV Shows, Science & ...",The history of military tanks unfolds in a doc...,1
341,s340,TV Show,Agent,NaN,"Khumbulani Kay Sibiya, Sisanda Henna, Tarynn W...","Mauritius, South Africa",20-Dec-19,2019,TV-MA,1 Season,"International TV Shows, TV Dramas",A former footballer tries to make it as a play...,1
342,s352,Movie,Ainu Mosir,Takeshi Fukunaga,"Kanto Shimokura, Debo Akibe, Emi Shimokura, To...","United States, Japan",17-Nov-20,2020,TV-PG,84 min,"Dramas, International Movies",A sensitive Ainu teen searches for a spiritual...,13

### Pivot Table

In [51]:
pivot = nf.pivot_table(index="country", columns="type", values="title", aggfunc="count", fill_value=0).reset_index()
pivot

type                                            country  Movie  TV Show
0                                             Argentina     34       16
1     Argentina, Brazil, France, Poland, Germany, De...      1        0
2                                      Argentina, Chile      1        0
3                                Argentina, Chile, Peru      1        0
4                                     Argentina, France      1        0
..                                                  ...    ...      ...
676                                           Venezuela      1        0
677                                 Venezuela, Colombia      1        0
678                                             Vietnam      5        0
679                                        West Germany      1        0
680                                            Zimbabwe      1        0

[681 rows x 3 columns]